$header-background-color:orange;
$body-background-color:black;
$background-color: orange;
// $header-bg: url("/img/healthy-food-1348464_1920.png");
// $og-bg: url("./img/our gallery.png");


$header-height:60px;
$timer-display: flex;
$timer-span-margin: 0 10px;
$menu-text-color: orange;
$menu-text-font-size: 24px;
$menu-button-background-color: orange;
$menu-button-box-shadow: 2px 2px 5px orange;
$menu-button-border: none;
$menu-button-margin-left: 35%;
$menu-button-margin-bottom: 5%;
$menu-button-padding: 5%;
$menu-button-color: white;
$color: orange;



$Laptop-L:1245px;
$Laptop:1024px;
$Tablet:768px;
$Mobile-L:427px;
$Mobile-M:375px;
$Mobile-S:320px;